<div class="no-margin">
        <form id="frm" action="#" method="post">
          <div class="nNote payNote"></div>
          <div id="b" style="visibility:visible;">
            <table>
              <tbody><tr>
                <td><div id="buy">
                    <label>First Name:</label>
                    <input type="text" id="citrusFirstName" placeholder="First Name" value="sanjay">
                    <br>
                    <label>Last Name:</label>
                    <input type="text" id="citrusLastName" placeholder="Last Name " value="chaudhary">
                    <br>
                    <label>Email:</label>
                    <input type="text" id="citrusEmail" placeholder="email" value="sanjay@cogent-point.com">
                    <br>
                    <label>Address:</label>
                    <input type="text" id="citrusStreet1" placeholder="Address" value="ahmadabad">
                    <br>
                    <input type="text" id="citrusCity" placeholder="City" style="width:146px; margin-left:103px;" value="ahmadabad">
                    <input type="text" id="citrusZip" placeholder="Zip" class="no-margin" style="width:51px;" value="380060">
                    <br>
                    <input type="text" id="citrusState" placeholder="State" style="margin-left:103px;" value="gujarat">
                    <br>
                    <input type="text" id="citrusCountry" value="India" placeholder="Contry" style="margin-left:103px;">
                    <br>
                    <label>Mobile:</label>
                    <input type="text" id="citrusMobile" placeholder="Mobile Number" value="9727900383">
                    <br>
                    <input type="hidden" readonly="" id="citrusAmount" name="orderAmount" value="1.00">
                    <input type="hidden" readonly="" id="citrusMerchantTxnId" name="merchantTxnId" value="">
                    <input type="hidden" readonly="" id="citrusSignature" value="">
                    <input type="hidden" readonly="" id="citrusReturnUrl" name="returnUrl" value="http://localhost/cogent17/services/update_trans.php">
                    <div class="custom-margin">Payment Options</div>
                    <input type="radio" name="pay" value="online" id="online" onclick="payrun()">
                    Pay Online&nbsp;
                    <input type="radio" name="pay" value="net" id="net" onclick="paynet()">
                    Net Banking<br>
                  </div></td>
              </tr>
              <tr>
                <td><div class="pay_method_div" id="card_div">
                   <label>Card Type:</label>
                    <select id="citrusCardType">
                      <option selected="selected" value="credit">Credit</option>
                      <option value="debit">Debit</option>
                    </select>
                    <br>
                    <label>Card Name:</label>
                    <select id="citrusScheme">
                      <option selected="selected" value="VISA">VISA</option>
                      <option value="mastercard">MASTER</option>
                      <option value="maestro">MAESTRO</option>
                      <option value="amex">American Express</option>
                    </select>
                    <br>
                    <label>Card Number:</label>
                    <input type="text" id="citrusNumber" placeholder="Card Number" value="4111111111111111">
                    <br>
                    <label>Card Holder Name:</label>
                    <input type="text" id="citrusCardHolder" placeholder="Card Holder Name" value="abc xyz">
                    <br>
                    <label>Card Expiry Date:</label>
                    <input type="text" id="citrusExpiry" placeholder="Expiry Date" value="12/16">
                    <br>
                    <label>CVV Number:</label>
                    <input type="text" id="citrusCvv" placeholder="CVV number" value="123">
                    <br>
                  </div>
                  <div class="pay_method_div" id="net_div"><select id="citrusAvailableOptions">
    				</select>
				    </div>
                 	</td>                    
              </tr>
              <tr>
                <td><center>
                    <input type="button" id="sub" value="Make Payment " class="btn btn-cp">
                  </center></td>
              </tr>
            </tbody></table>
          </div>
          <input type="hidden" name="strid" id="strid" value="">
          <input type="hidden" name="product_id" id="prdid" value="">
          <input type="hidden" name="userses" value="">
          <input type="hidden" name="custid" id="custid" value="">
          <input type="hidden" name="city" value="">
        </form>
      </div>