.bid-box
{
	width: 300px;
	margin: auto;
}
.steps{
	margin: auto;
	width: 300px;
  margin-bottom: 40px;
}
.steps li {
  width: 35px;
  height: 35px;
  margin: auto;
  padding-top: 33px;
  display: inline-block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background-size: 35px;
  background-repeat: no-repeat;
  width: 98px;
}
.steps li:after{
	display: block;
	margin-top: 23px;
	/*margin-left: -35px;
	text-align: center;*/
}
.steps li:before{
  content:'';
  display:block;
  width: 100px;
  height: 4px;
  /* margin-left: 34px; */
  margin-top: -17px;
  border-bottom: 1px solid #ED1C24;
  border-top: 1px solid #ED1C24;
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  /* position: absolute; */
}
.steps .first{
	background-image:url(../images/rupees1.png);
}
.steps .first:before{
  margin-left: 34px;
}
.steps .first:after{
	content: 'Quote your price';
}
.steps .second{
	background-image:url(../images/asksellers.png);
	background-position: center;
}
.steps .second:before{
  margin-left: 65px;
}
.steps .second:after{
	content: 'Ask Sellers';
	text-align:center;
}
.steps .third{
	background-image:url(../images/handshake_2.png);
	background-position: right;
}
.steps .third:after{
	content: 'Reply from Seller';
}
.steps .third:before{
	border: none;
}
.steps .done:before{
	background: #ED1C24;
}
.form{
	width: 300px;
	margin: auto;
}
.form input[type='text'], .form textarea {
  padding: 2px;
  display: block;
  width: 300px;
  border: 1px solid #ED1C24;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  /* border-radius: 3px; */
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* font-family: Arial; */
  margin: 1px;
}
.form input[type="submit"],.form input[type="reset"],.form input[type="button"] {
  display: block;
  background: #ed1c24;
  color: #fff;
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px rgb(237, 28, 36);
  -moz-box-shadow: 1px 1px 3px rgb(237, 28, 36);
  box-shadow: 1px 1px 3px rgb(237, 28, 36);
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  margin: 0px 105px;
}
.form ul {
	min-width: 100px;
	border: 1px solid #ed1c24;
	position: absolute;
	z-index: 9;
	background: #fff;
	list-style: none;
}
.form ul li:hover {
	background: #eaeaea;
}
#product_list2 {
	display: none;
}
.category_btn2{
	text-align: left;
}

/** Verification Modal Style **/
.veriform input, .veriform textarea {
  padding: 5px;
  width: 190px;
  border: 1px solid #ED1C24;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.veriform input[type="submit"],.veriform input[type="reset"],.veriform input[type="button"] {
  background: #ed1c24;
  color: #fff;
  padding: 5px 0px;
  width: 75px;
  font-size: 15px;
  margin-top:25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  -webkit-box-shadow: 1px 1px 3px rgb(237, 28, 36);
  -moz-box-shadow: 1px 1px 3px rgb(237, 28, 36);
  box-shadow: 1px 1px 3px rgb(237, 28, 36);
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}