#product-main{
	position: relative;
	z-index: 10	;
	display: none;
}
.footer{
	position: fixed;
	bottom: 0;
	padding: 20px 0px 20px 0px;
	border-top: 2px solid #d9d9d9;
	background-color: #e6e6e6;
	width: 100%;
}
#product-main .product-img{
	padding: 2px;
}
#product-main .product-img img{
	height: 200px; 
	width: 200px;
	margin:auto; 
	display:block;
}
.product-name{
	font-size: 18px;
	width: 90%;
    margin-left: 5%;
}
p.product-tag {
    font-size: 14px;
}
p.product-desc {
    width: 90%;
    margin-left: 5%;
}
.buy-bid-btn{
	width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}
.main-border {
    display: block;
    position: relative;
}
.product_main_store {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.product_main_store .main_store{
	display: block;
    width: 100%;
    position: relative;
}
.product_main_store .main_store div{
	display: inline-block;
	position: relative;
}
.main-border .product-img {
    height: 200px;
    width: 200px;
}
.main-border .product-img img {
    height: 200px;
    width: 200px;
}
.main-border p.product-desc {
    font-size: 14px;
}
.main-border p.product-name a {
    font-size: 18px;
}
@media (max-width: 768px){
.border .product-name{
	font-size: 18px;
	width: 90%;
    margin-left: 0;
}
.border p.product-desc {
    width: 90%;
    margin-left: 0;
}
.border .buy-bid-btn{
	width: 90%;
    margin-left: 0;
    margin-top: 10px;
}
}
/*.twob {
	font-size:medium;
	color:white;
	height:35px;
	background-color:#ed1c24;
	border-radius:0.5em;
	font-family:Roboto;
	width:150px;
}*/
input[type="button"]:disabled {
	background-color:#999;
	color:#FFF;
}
.division {
	 background-color:white;
	 padding: 5px 10px;
	 font-family:Roboto;
	 cursor: pointer;
}
.store-name{
	width: 150px;
    float: left;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
}
#product-main .store-name{
	border: 1px solid #333;
}
.store-name label{
	font-weight: normal;
}
.boxy {
	height:30px;
	border-color:red;
	border-width:thin;
	border-radius:0.5em;
	padding-left:10px;
	padding-right:10px;
	width:300px;
}
.rad {
	height:20px;
	width:20px;
}
.radstr{
	display: none;
}
.radstr:checked + label div
{
	background: #ED1C24;
	color: #FFF;
	font-weight: bold;
	
}
.store-name.selected
{
	background: #ED1C24;
	color: #FFF;
	font-weight: bold;
	
}
#buy-div label{
	width: 100px;
}
#buy-div input[type='text']{
	width: 200px;
	margin: 1px;
	border: 1px solid #ed1c24;
	border-radius: 4px;
	padding: 2px;
	height: 24px;
}
.store-ico{
	width: 35px;
    display: block;
    position: relative;
    /* margin: 0px; */
    float: left;
}
#buy-div{
    position: relative;
    display: none;
    top: 25px;
}
#bid-div{
	position: relative;
	display: none;
	top: 25px;
}
.pay_method_div{
	display: none;
}


.border .store-list-div{
	display: none;
}