@media (min-width: 580px){
.product-div {
    width: 100%;
}
}
@media (min-width: 768px){
.product-div {
    width: 50%;
}
}
@media (min-width: 992px){
.product-div {
    width: 33.33333333%;
}
}
@media (min-width: 1200px){
.product-div {
    width: 25%;
}
}
.product-div{
	display: inline-block;
	height: 100px;
	overflow: hidden;
	box-sizing: border-box;
}
.product-div .product-img{
	width: 100px;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
}
.product-div .product-details-div{
	width: 66%;
	width: calc(100% - 120px);
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*margin-top: -60px;*/
}
.border .product-details-div{
	width: 66%;
	width: calc(100% - 220px);
}
@media (max-width: 320px){
	.border .product-details-div{
		width: 95%;
    	margin-left: 2%;
	}
}
.border{
				border: 1px solid #000;
				padding: 10px;
				height: auto;
				-webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  display: block;
  width: 90%;
    margin-left: 5%;
}
@media (max-width: 320px){
	.border{
		width: 95%;
    	margin-left: 2%;
	}
}