.productimg{
				width: 120px;
				height: 120px;
}
.zoom a img{
				width: 200px;
				height: 200px;
}
.rightpart{
				width: 60%;
				height: 400px;
				padding: 15px;
				overflow: hidden;
				display: inline-block;
				float: right;
}
.zoom{
				display: inline-block;
				float: left;
				width: 30%;
}
.product.border{
				border: 1px solid #000;
				padding: 10px;
				height: auto;
				-webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
@media (max-width: 320px){
	.product.border{
		padding: 3px;
	}
}
.product .header{
				width: 30%;
				height: 400px;
				padding: 15px;
				overflow: hidden;
				display: inline-block;
				float: left;
}
.product .right-toggle{
				width: 45%;
				height: 400px;
				padding: 15px;
				overflow: hidden;
				display: inline-block;
				float: right;
}			
#buy-div{
				display: none;
}
.border .product-img{
	height: 200px;
	width: 200px;
}
.border .product-img img{
	height: 200px;
	width: 200px;
}
.border p.product-name a{
	font-size: 18px; 
}
.border p.product-desc{
	font-size: 14px;
}
.buy-bid-btn{
	display: none;
}
.store-tab{
	border: 1px solid #bbb;
    margin: 10px auto;
    width: 1000px;
    padding: 10px;
}
.store-tab table{
	width: 980px;
}
.store-tab table tr:first-child{
	border-bottom: 1px solid #bbb;
	text-align: center;
}
.str-btn-list{
	margin: 10px;
}
.store-tab td, .store-tab th {
    padding: 10px;
}
.store-tab table tr:first-child td span {
    font-size: 16px;
}

@-webkit-keyframes ring {
	0% { -webkit-transform: rotate(0deg); }
	25% { -webkit-transform: rotate(45deg); }
	50% { -webkit-transform: rotate(0eg); }
	75% { -webkit-transform: rotate(-45deg); }
	100% { -webkit-transform: rotate(0deg); }
}


.notification{
	position: relative;
	float: left;
	/* width: 120px; */
	margin: 0px 5px;
}
.notification .noti{
	background: url(../images/bell1.png) no-repeat;
	background-size: 35px;
	padding-top: 35px;
	padding-right: 35px;
	margin: auto 5px;
}
.noti.non{
	display: none;
}
.noti.yup{
	display: inline-block;;
}

.noti.yup
{
	-webkit-animation-name: ring;
	-webkit-animation-duration: 300ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 4;
	-webkit-animation-timing-function: linear;
}



.notifyMe {
    padding-top: 20px;
    padding-right: 20px;
    /* margin: 0px 30px 0px 0px; */
    display: inline-block;
}
.notifyMe.yup{
	background: url(../images/bell1.png) no-repeat;
	background-size: 20px;
	-webkit-animation-name: ring;
	-webkit-animation-duration: 300ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 4;
	-webkit-animation-timing-function: linear;
}

/*** Product Main Store List ***/
.store-name span {
    display: block;
    margin: 5px;
}
.str-promotions{
	position: absolute;
	border: 1px solid #ed1c24;
	background: #fff;
	opacity: 0;
	top: 0px;
}
.store-name:hover .str-promotions {
	/*display: block;*/
	-webkit-transition: all ease;
	-webkit-transition-delay: 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 1;
	top: -20px;
}