@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.eot');
    src: url('fonts/Roboto.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto.woff') format('woff'),
         url('fonts/Roboto.ttf') format('truetype'),
         url('fonts/Roboto.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px !important;
}
p{
	margin: 0 0 2px !important;
}
header {
  position: fixed;
  display:block;
  height: 60px;
  width: 100%;
  background: #fff;
  z-index: 100;
  border-bottom: 1px solid #bbb;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.header-size{
	position: relative;
	height: 60px;
}
.header-wrap{
	position: relative;
}
.header{
	width: 1200px;
	margin:auto;
}
.header .logo {
  position: relative;
  float: left;
  z-index: 1;
  margin: 10px 5px 10px 0px;
  display: inline-block;
  text-align: center;
  height:38px;
  width: 150px;
}
.header .logo a{
	width: 150px;
}
.header .logo img{
	width: 150px;
	margin: 2px auto;
}
.header .search-box{
	display: inline-block;
	position: relative;
	float: left;
	width: 485px;
	margin: 10px 5px;
}
.search-box .input-group{
	float: left;
}
.dropdown-toggle{
	height: 35px;
	width: 100px;
	background: #fff;
	border-color: #ed1c24 !important;
	font-size: 12px !important;
	padding: 5px !important;
}
.category_btn{
	text-align: left !important;
}
.caret{
	border-top: 8px solid #ed1c24 !important;
	position: absolute;
	top: 14px;
	right: 10px;
}
.category_dd{
	margin: 0px auto !important;
	height: 150px;
	overflow: auto;
	z-index: 10;
	/* width: 100px; */
}
.category_dd li a {
    padding: 3px 1em 3px .4em;
}
.search-box .category-btn .caret{
	float: none;
}
.search-box .input-group input, .search-box .input-group textarea {
  display: block;
  /* width: 341px; */
  border: 1px solid #ED1C24;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  /*-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  height: 35px;
  font-size: 12px;
  padding: 5px;
}
.search-box .input-group input[type="submit"],.search-box .input-group input[type="reset"],.search-box .input-group input[type="button"] {
  display: block;
  background: #ed1c24;
  color: #fff;
  padding: 10px 20px;
  width: 120px;
  margin-left: 150px;
  font-size: 15px;
  margin-top:25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px rgb(237, 28, 36);
  -moz-box-shadow: 1px 1px 3px rgb(237, 28, 36);
  box-shadow: 1px 1px 3px rgb(237, 28, 36);
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.submit-button{
	background: none;
	border: none;
	height: 33px;
	width: 35px;
}
.search-box .input-group .input-group-addon {
  background: #ed1c24;
  color: #fff;
  padding: 0px;
  font-size: 12px !important;
}
.search-box ul {
	min-width: 100px;
	border: 1px solid #ed1c24;
	position: absolute;
	z-index: 9;
	background: #fff;
	list-style: none;
	/* margin-top: 47px; */
	font-size: 12px;
	padding: 0px;
	margin-top: 0px !important;
}
.search-box form ul li {
	padding: 0px;
}
.search-box form ul li:hover {
	background: #eaeaea;
}
#product_list {
	display: none;
	height: 282px;
	overflow: auto;
}
/*.search-box .location-icon {
	position: relative;
	float: left;
	margin-left:35px;
}
.search-box .location-icon:before {
	content: '\e062';
	color: #ed1c24;
	background: none;
	display: block;
	font-size: 34px;
	margin: auto;
}
.search-box .location-icon .location_btn
{
	font-family: Roboto !important;
	border: none;
	background: none;
	margin: 0px;
	padding: 0px;
	width: 90px;
}*/

.location-div {
	position: relative;
	float: left;
	margin: 0px 5px;
	cursor: pointer;
}
.location-div:hover .location_dd {
	display:block;
}
.location-div .location-icon {
	position: relative;
	float: left;
	margin-left:35px;
}
.location-div .location-icon:before {
	font-family: 'Glyphicons Halflings' !important;
	content: '\e062';
	color: #ed1c24;
	background: none;
	display: block;
	font-size: 34px;
	margin: auto;
}
.location-div .location_btn
{
	font-family: 'Roboto' !important;
	border: 1px solid #ed1c24;
	background: none;
	padding: 0px;
	width: 130px;
	height: 30px;
	text-align: center;
	font-size: 12px;
	padding: 5px;
}
.location_dd{
	text-align: center;
	font-size: 12px;
	border: 1px solid #ed1c24;
	background:#fff;
	display: none;
}
.location_dd li{
	list-style: none;
}
.location_dd li:hover{
	background: #ed1c24;
	color: #fff;
}
.location_dd a, .location_dd a:hover,.location_dd a:active{
	text-decoration: none;
	color: #333;
}
.fav-link{
	position: relative;
	float: left;
	/* width: 120px; */
	margin: 0px 5px;
}
.fav-link .fav{
	background: url(../images/bid.png) no-repeat;
	background-size: 35px;
	display: inline-block;
	padding-top: 35px;
	padding-right: 35px;
	margin: auto 5px;
}
.header .cart-links{
	position: relative;
	float: left;
	/* width: 120px; */
	margin: 10px 5px;
}
.header .cart-links .bid{
	background: url(../images/bid.png) no-repeat;
	background-size: 35px;
	display: inline-block;
	padding-top: 35px;
	padding-right: 35px;
	margin: auto 5px;
}
.header .cart-links .shop{
	background: url(../images/shop.png) no-repeat;
	background-size: 35px;
	display: inline-block;
	padding-top: 35px;
	padding-right: 35px;
	margin: auto 5px;
}

.header .sign-up-div{
	position: relative;
	float: left;
	width: 150px;
	margin: 0px 5px;
	cursor: pointer;
	height: 35px;
}
.logged .log-menu{
	list-style: none;
	font-size: 12px !important;
	padding: 0px;
	margin: 0px auto;
}
.logged .log-menu li{
	display: block;
	height: 20px;
}
/*header .sign-up-div .sign-up-links li:first-child:after{
	content:'|';
	color: #ed1c24;
	margin-left: 10px;
	margin-right: 10px;
}*/
.header .sign-up-div .sign-up-links{
	border: 1px solid #ed1c24;
	height: 30px;
	text-align: center;
	font-size: 12px;
	padding: 5px;
	-webkit-transition: all ease;
	-webkit-transition-delay: 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.header .sign-up-div .sign-up-links a{
	color: #333;
	-webkit-transition: all ease;
	-webkit-transition-delay: 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.header .sign-up-div .sign-up-links a:hover{
	text-decoration: none;
	-webkit-transition: all ease;
	-webkit-transition-delay: 0.3s;
  	-moz-transition: all ease 0.3s;
  	-o-transition: all ease 0.3s;
  	transition: all ease 0.3s;
}
.logged{
	border: 1px solid #ed1c24;
	background: #fff;
	display: none;
}
.header .sign-up-div .sign-up-links:hover~.logged{
	display: block;	
}
.header .sign-up-div .logged:hover{
	display: block;	

}
.header-right{
	float: right;
	margin:10px 5px;
}
.log-menu a{
    text-decoration: none;
    color: #ED1C24;
    text-align: center;
    margin: auto;
}
.log-menu a:hover, .log-menu a:active{
    text-decoration: none;
	color: #ED1C24;
}
.log-menu li{
	-webkit-transition: all ease;
	-webkit-transition-delay: 0.3s;
  	-moz-transition: all ease 0.3s;
  	-o-transition: all ease 0.3s;
  	transition: all ease 0.3s;
}
.log-menu li:hover{
	background: #ed1c24;
	color:#fff;
}
.main{
	position: relative;
	margin: 0px auto;
	padding-top: 20px;
	width: 100%;
}
.container{
	width: 1200px !important;
}
/*===== form controls ==========*/
.btn-cp {
  background: #ed1c24;
  color: #fff;
  padding: 0px !important;
  width: 90px;
  font-size: 12px !important;
  margin-top: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px rgb(237, 28, 36);
  -moz-box-shadow: 1px 1px 3px rgb(237, 28, 36);
  box-shadow: 1px 1px 3px rgb(237, 28, 36);
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn-cp:hover {
  color: #ed1c24 !important;
  background: #fff !important;
}
/* ===== Notification messages ===== */

.nNote { clear: both; margin: 20px; }
.veriNote{ width:500px;}
.nyopNote{ width:385px;}
.nNote strong { margin-right: 5px; }
.nNote p { font-size: 12px; padding: 10px 25px 10px 54px; margin: 0px; color: #565656; }
.nMessage p { font-size: 12px; }
.nWarning { background: #ffe9ad url(../img/notifications/error.png) no-repeat 15px center; border: 1px solid #eac572; color: #826200; }
.nSuccess { background: #effeb9 url(../img/notifications/accept.png) no-repeat 15px center; border: 1px solid #c1d779; color: #3C5A01; }
.nFailure { background: #fccac1 url(../img/notifications/exclamation.png) no-repeat 15px center; border: 1px solid #e18b7c; color: #AC260F; }
.nInformation { background: #d1e4f3 url(../img/notifications/information.png) no-repeat 15px center; border: 1px solid #99c4ea; color: #235685; }
.nLightbulb { background: #FEF0CB url(../img/notifications/lightbulb.png) no-repeat 15px center; border: 1px solid #D3A350; color: #835F21; }
.nMessages { background: #9DDFFF url(../img/notifications/email.png) no-repeat 15px center; border: 1px solid #42B4FF; color: #835F21; }
/* ================================ */
/* ======Experimental Classes============ */
input[type="button"]:disabled {
	background-color:#999;
	color:#FFF;
}
.no-padding{
	padding: 0px !important;
}
.custom-padding{
	padding: 5px 0px !important;
}
.no-margin{
	margin: 0px !important;
}
.custom-margin{
	margin: 2px !important;
}

/*Tooltip Test*/
span.ttip{
	width: 150px;
	/* height: auto; */
	/* line-height: 8px; */
	/* padding: 10px; */
	/* left: 0%; */
	margin-left: -37px;
	/* font-family: 'Alegreya SC', Georgia, serif; */
	font-weight: 400;
	/* font-style: italic; */
	/* font-size: 14px; */
	color: #14B5D3;
	/* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); */
	text-align: center;
	border: 4px solid #ed1c24;
	background: #fff;
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
	pointer-events: none;
	/* bottom: 250px; */
	opacity: 0;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	display: block;
	top: 80px;
}
span.ttip:before,
span.ttip:after{
	content: '';
	display: block;
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -17px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ed1c24;
	/*
	content: '';
	display: block;  
	position: absolute;
	left: 50%;
	bottom: 100%;
	width: 0;
	height: 0;
	border-bottom: 10px solid #ed1c24;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
		*/
}
#tt-bid {
    margin-left: -45px;
    margin-bottom: 17px;
}

#tt-shop {
    margin-left: 0px;
}
#bid-btn:hover~span#tt-bid{
	opacity: 1;
	top: 40px;
}
#shop-btn:hover~span#tt-shop{
	opacity: 1;
	top: 40px;
}