.img-group{
	display: table;
	/* width: 1199px; */
	/* margin:auto; */
	margin: 25px auto;
}
.img-div{
	width: 175px;
	float:left;
	position: relative;
	margin: 10px 40px;
	display: block;
	height: 200px;
}
.img{
	float: left;
	/* margin: auto 40px; */
	width: 175px;
	position: relative;
}
.img img{
	width: 175px;
}
.img-desc{
	text-align: center;
	font-size: 18px;
	width: 175px;
	margin:auto;
	display: block;
	height: 175px;
}
.search-group{
	position: relative;
	width: 485px;
	margin: auto;
}
.search-group .btn{
	width: 200px;
	background: #fff;
	border: #ed1c24 1px solid;
	text-align:left;
	color: rgb(110,110,110);
	padding: 10px;
}
.search-group .custom{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
	width: 175px;
}
.search-group .search-button{
    background-color: #ed1c24;
	color: #fff;
}
.search-group .input-group{
	width:485px;
	/* margin-left: 160px; */
}
.dropdown-menu{
	height: 112px;
	overflow: auto;
}
.input-group-addon{
	padding: 0px !important;
}
.footer{
	height: 50px;
	border-top: #000 1px;
}
/*Tooltip Test*/
.img-div span{
	width: 250px;
	/* height: auto; */
	/* line-height: 8px; */
	/* padding: 10px; */
	/* left: 0%; */
	margin-left: -37px;
	/* font-family: 'Alegreya SC', Georgia, serif; */
	font-weight: 400;
	/* font-style: italic; */
	/* font-size: 14px; */
	color: #14B5D3;
	/* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); */
	text-align: center;
	border: 4px solid #ed1c24;
	background: rgba(249,249,249,0.3);
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
	pointer-events: none;
	bottom: 250px;
	opacity: 0;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.img-div span:before,
.img-div span:after{
	content: '';
	position: absolute;
	bottom: -14px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(237,28,36,0.9);
}
.img-div:hover span{
	opacity: 0.9;
	bottom: 175px;
}

/****Testing*****/
button.btn.dropdown-toggle.category-2-btn {
    width: 100px;
}
.dropdown-menu.category-2_dd{
	min-width: 100px;
	border: 1px solid #ed1c24;
}
.dropdown-menu.category-2_dd li a{
	padding: 5px;
	cursor: pointer;
}
.dropdown-menu.brand_dd{
	min-width: 175px;
	border: 1px solid #ed1c24;
}
.dropdown-menu.brand_dd li a{
	padding: 5px;
	cursor: pointer;
}
.dropdown-menu.retailers_dd{
	min-width: 175px;
	border: 1px solid #ed1c24;
}
.dropdown-menu.retailers_dd li a{
	padding: 5px;
	cursor: pointer;
}