#product-main {
    position: absolute;
    z-index: 1000;
    display: none;
    top: 100px;
}
.footer{
	position: fixed;
	bottom: 0;
	padding: 20px 0px 20px 0px;
	border-top: 2px solid #d9d9d9;
	background-color: #e6e6e6;
	width: 100%;
}
.product-img{
	padding: 2px;
}
.product-img img{
	max-height:110px; 
	max-width: 110px;
	margin:auto; 
	display:block;
}
.product-name{
	font-size: 14px !important;
}
/*.twob {
	font-size:medium;
	color:white;
	height:35px;
	background-color:#ed1c24;
	border-radius:0.5em;
	font-family:Roboto;
	width:150px;
}*/
input[type="button"]:disabled {
	background-color:#999;
	color:#FFF;
}
.division {
	 background-color:white;
	 padding: 5px 10px;
	 font-family:Roboto;
	 cursor: pointer;
}
.store-name{
	width:110px;
	float: left;
}
.store-name label{
	font-weight: normal;
}
.boxy {
	height:30px;
	border-color:red;
	border-width:thin;
	border-radius:0.5em;
	padding-left:10px;
	padding-right:10px;
	width:300px;
}

.rad {
	height:20px;
	width:20px;
}
.radstr{
	display: none;
}
.radstr:checked + label div
{
	background: #ED1C24;
	color: #FFF;
	font-weight: bold;
	
}

#disp label{
	width: 100px;
}
#disp input[type='text']{
	width: 200px;
	margin: 1px;
	border: 1px solid #ed1c24;
	border-radius: 4px;
	padding: 2px;
	height: 24px;
}
.store-ico{
	width: 35px;
    display: block;
    position: relative;
    /* margin: 0px; */
    float: left;
}