.product{
    /* margin: 10px auto; */
    /* border-bottom: 1px solid #ddd; */
    padding: 5px 0px;
}
.product-img img{
	max-height: 100px;
	max-width: 100px;
	margin: auto;
	display: block;
}
.product-name a{
	font-size:14px !important;
}
a {
	color:black;
	font-family:Roboto;
}
.bid-box{
	margin: 0px auto !important;
}
.modal-dialog{
	border-color: #ed1c24;
	border-style: solid;
	border-width:1px;
}
.modal-body{
	background: rgb(249,249,249) !important;
	
}

/*Loader style*/
#loader{
	height:80px;
	background-image:url(../images/loading.gif);
	background-position:center;
	background-size:70px;
	background-repeat: no-repeat;
	display: none;
}
/*.ias_loader, .ias_trigger {
	text-align:center;
	margin: 30px 0 40px;
}
.ias_trigger a:link,
.ias_trigger a:visited {
    padding: 4px 50px;

    background-color: #f9f9f9;
    border: solid 1px #ddd;
    border-radius: 2px;

    font: bold 12px Arial, sans-serif;
    color: #555;
    text-decoration: none;
}
.ias_trigger a:hover,
.ias_trigger a:active {
    border-color: #ccc;
}*/
/* Pagination Style */
ul.pagination {
font-family: Roboto, "Helvetica", sans-serif;
font-size: 13px;
height: 100%;
list-style-type: none;
margin: 20px 0;
overflow: hidden;
padding: 0; }
ul.pagination li.details {
background-color: white;
border-color: #C8D5E0;
border-image: none;
border-style: solid;
border-width: 1px 1px 2px;
color: #1E598E;
font-weight: bold;
padding: 8px 10px;
text-decoration: none; }
ul.pagination li.dot {
padding: 3px 0; }
ul.pagination li {
float: left;
list-style-type: none;
margin: 0 3px 0 0; }
ul.pagination li:first-child {
margin-left: 0; }
ul.pagination li a {
color: black;
display: block;
padding: 7px 10px;
text-decoration: none; }
ul.pagination li a img {
border: medium none; }
ul.pagination li a.current {
background-color: white;
border-radius: 0 0 0 0;
color: #333333; }
ul.pagination li a.current:hover {
background-color: white; }
ul.pagination li a:hover {
background-color: #C8D5E0; }
ul.pagination li a {
background-color: #F6F6F6;
border-color: #C8D5E0;
border-image: none;
border-style: solid;
border-width: 1px 1px 2px;
color: #1E598E;
display: block;
font-weight: bold;
padding: 8px 10px;
text-decoration: none; }

.btn-fav{
    height: 20px !important;
    font-size: 14px !important;
    padding: 0px !important;
    margin: 0px 10px !important;
    width: 78px !important;
}

/**Filter CSS**/
header{
	box-shadow: none !important;
}
.main{
	padding-top: 63px !important;
}
.filter {
  background: #fafafa;
  /* padding: 6px; */
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
  border-bottom: 1px #bbb solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  height: 24px;
}
.filter-wrap{
	width: 1200px;
	position:relative;
	margin: auto;
	height: 22px;
}
.filter-wrap div {
  color: #777;
  width: 100px;
  display: inline-block;
  position: relative;
}
.filter-wrap .filter-btn{
  width: 100px;
  background-color: transparent;
  height: 22px;
  padding: 0px !important;
  border: none;
  border-radius: 0px;
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.filter-wrap .filter-btn:hover{
  background-color: #ed1c24;
  color: #fff;
  height: 22px;
  padding: 0px !important;
  border: none;
}
.filter-wrap ul.dropdown-menu {
    padding: 0px;
	min-width: 100px;
	border: 1px solid #ed1c24;
}
.filter-wrap ul.dropdown-menu li a{
    padding: 5px;
	cursor: pointer;
}
#buy-div{
    position: relative;
    display: block;
    top: 230px;
}
#bid-div{
	position: relative;
	display: block;
	top: 250px;
}