@charset "utf-8";
/* CSS Document */
header{
	box-shadow: none !important;
}
.main{
	padding-top: 0px !important;
}
.filter {
  background: #fafafa;
  padding: 0px !important;
  margin-bottom: 0;
  position: relative;
  /* width: 100%; */
  /* z-index: 1; */
  border: 1px #bbb solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.filter span {
  color: #777;
}
.filter .filter-btn{
	width: 100px;
	border: none;
	background-color: transparent;
	padding: 0 !important;
	height: 22px;
}
.products{
	margin: 0px auto;
	padding: 20px;
	position:relative;
	overflow: hidden;
}
.product-div{
	width: 600px;
	height: 100px;
	float: left;
	margin: 20px;
}
.product-img{
	height:100px;
	width:100px;
	float:left;
	position:relative;
}
.product-img img{
	max-height: 120px;
	max-width: 120px;
	display: block;
	margin: auto;
}
.product-details-div{
	float:left;
	position:relative;
	margin: 0px auto;
	width: 240px;
}
.product-name-div{
	position:relative;
	font-size: 22px;
	height: 60px;
}
.product-name-div a{
	color: #333;
}
.product-name-div a:hover{
	color: #333;
	text-decoration: none;
}
.shop-price{
	float: left;
    font-size: 22px;
    margin: 15px 10px 0px 0px;
}
.shop-name{
	float: left;
    font-size: 20px;
    margin: 20px 0px 0px 15px;
	color: #666;
	/*text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.3);*/
}
