.footer{
	position: fixed;
	bottom: 0;
	padding: 20px 0px 20px 0px;
	border-top: 2px solid #d9d9d9;
	background-color: #e6e6e6;
	width: 100%;
}
.header{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 2px solid #d9d9d9;
	background-color: #e6e6e6;
}
.btn{
	background-color: #ff6666;
}
.btn:hover{
	background-color: #ff8080;
	color: white;
}